$emptyMargin: 100/7 * 1%;
$headerColor: #43A047;

* {
    box-sizing: border-box;
}

.datepicker {
    font-family: 'Roboto', sans-serif;

    & .calendar {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.7);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.7);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.7);
        color: #fff;
        width: 300px;

        &--year {
            background-color: #2E7D32;
            font-size: 18px;
            font-weight: bold;
            padding: 5px 0;
            text-align: center;
        }

        &--month {
            background-color: $headerColor;
            font-size: 25px;
            font-weight: bold;
            padding: 25px 0;
            text-align: center;

            &-action {
                display: inline-block;
                text-align: center;
                width: 15%;

                & button {
                    background: 0;
                    border: 0;
                    color: black;
                    font-size: inherit;
                    font-weight: bold;
                    cursor: pointer;
                    opacity: 0.4;
                }
            }

            &-text {
                width: 70%;
                display: inline-block;
                opacity: 0.95;

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        &--day-name {
            background-color: $headerColor;
            font-size: 28px;
            font-weight: bold;
            padding: 15px 0;
            text-align: center;
        }

        &--day {
            cursor: pointer;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            text-align: center;
            width: 14.2%;
        }

        &--days {
            color: #212121;
            padding: 0 10px 10px;

            &-name {
                border-bottom: 2px solid #BDBDBD;
                font-weight: bold;
                margin: 5px 0;
            }

            & .empty {
                &-1 {width: 0; margin-left: $emptyMargin * 1;}
                &-2 {width: 0; margin-left: $emptyMargin * 2;}
                &-3 {width: 0; margin-left: $emptyMargin * 3;}
                &-4 {width: 0; margin-left: $emptyMargin * 4;}
                &-5 {width: 0; margin-left: $emptyMargin * 5;}
                &-6 {width: 0; margin-left: $emptyMargin * 6;}

            }
        }
    }
}