
.datepicker-container {

}

.calendar {

    -webkit-box-shadow: 6px 6px 5px 0px rgba(168,168,168,0.4);
    -moz-box-shadow: 6px 6px 5px 0px rgba(168,168,168,0.4);
    box-shadow: 6px 6px 5px 0px rgba(168,168,168,0.4);
    color: #fff;
}
.calendar .calendar--year {
    background-color: #006064;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.calendar .calendar--month {
    background-color: #006064;
    padding: 15px 0;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.calendar .calendar--days {
    padding: 0 10px 10px;
    color: #000;
}

.calendar .calendar--day {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 14.2%;
    cursor: pointer;
}

.calendar .calendar--day-name {
}

.calendar .calendar--days .empty-0 {
    width: 0%;
}
.calendar .calendar--days .empty-1 {
    width: 14.2%;
}
.calendar .calendar--days .empty-2 {
    width: 28.4%;
}
.calendar .calendar--days .empty-3 {
    width: 42.6%;
}
.calendar .calendar--days .empty-4 {
    width: 56.8%;
}
.calendar .calendar--days .empty-5 {
    width: 71%;
}
.calendar .calendar--days .empty-6 {
    width: 85.2%;
}